body {
    margin: 0px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(227deg, #99A5B2 10%, #E9EAEB 83%);
}

#frameShadow {
    height: 700px;
    width: 360px;
    border-radius: 60px;
    background: rgba(67, 90, 108, 0.50);
    filter: blur(29px);
    z-index: -1;
    position: absolute;
    margin: 50px 0px 0px 50px;
    padding: 0px 50px 50px 0px;
}

#frame {
    height: 700px;
    width: 360px;
    background: linear-gradient(180deg, #495055 0%, rgba(181, 189, 198, 0.33) 100%);
    box-shadow: 10px 10px 20px rgba(155, 166, 179, 0.25);
    border-radius: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 50px 30px 0px 30px;
}

#calcText {
    height: 65px;
    width: 100%;
    background-color: transparent;
    border-style: none;
    color: #fff;
    font-size: 70px;
    text-align: right;
    padding: 25px;
}

#innerFrame {
    height: 75%;
    width: 100%;
    background: linear-gradient(180deg, rgba(73, 80, 85, 0.58) 0%, rgba(181, 189, 198, 0.53) 100%);
    border-radius: 60px 0px 60px 60px;
    padding: 50px 30px 50px 30px;
}

.btnContainer {
    height: 100%;
    /* width: 100%; */
    display: grid;
    grid-template-areas:
        "btnClear btnAllClear btnInteger btnDivide"
        "btn7 btn8 btn9 btnMultiply"
        "btn4 btn5 btn6 btnSubtract"
        "btn1 btn2 btn3 btnAdd"
        "btn0 btnDecimal btnEqual btnEqual";
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
}

button {
    border-radius: 20px;
    border-style: none;
    font-size: 45px;
    color: #52585E;
    transition-duration: 0.25s;
    /* width: 70px;
    height: 70px; */
}

button:hover {
    cursor: pointer;
    box-shadow: 2.5px 2.5px 15px rgba(93, 102, 110, 0.65);
    z-index: 5;
    scale: 1.05;
}

/* #btn0 {
    width: 200%;
} */

.btnWhite {
    background-color: #FFF6F1;
}

/* .btnWhite:hover {

} */

.btnPink {
    background-color: #FFCEB2;
}

.btnOrange {
    background-color: #FFA776;
}

/*Button Placement*/

#btnClear {
    grid-area: btnClear;
}

#btnAllClear {
    grid-area: btnAllClear;
}

#btnInteger {
    grid-area: btnInteger;
}

#btnDivide {
    grid-area: btnDivide;
}

#btn7 {
    grid-area: btn7;
}

#btn8 {
    grid-area: btn8;
}

#btn9 {
    grid-area: btn9;
}

#btnMultiply {
    grid-area: btnMultiply;
}

#btn4 {
    grid-area: btn4;
}

#btn5 {
    grid-area: btn5;
}

#btn6 {
    grid-area: btn6;
}

#btnSubtract {
    grid-area: btnSubtract;
}

#btn1 {
    grid-area: btn1;
}

#btn2 {
    grid-area: btn2;
}

#btn3 {
    grid-area: btn3;
}

#btnAdd {
    grid-area: btnAdd;
}

#btn0 {
    grid-area: btn0;
}

#btnDecimal {
    grid-area: btnDecimal;
}

#equal {
    grid-area: btnEqual;
}